* {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    text-align: center;
    background-color: #121212;
    color: #ababab;
    font-family: Tahoma;
}

#footer,
#header,
aside,
#nav {
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    text-align: center;
    background-color: #4a3567;
}

#article .section {
    width: 100%;
    background-color: #212121;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
}
#article{
    padding: 20px;
}
#eletrajz p{
    text-align: justify;
    padding: 20px;
}
#aside img{
    width: 100%;
    border: 5px solid #4a3567;
    border-radius: 15px;
}
/* menü */
#nav {
    display: flex;
}

#nav a {
    /* ugyanaz, mint flex-grow:1; flex-shrink:1;flex-basis:auto;*/
    flex: 1 1 auto;
    text-decoration: none;
    color: black;
}

li {
    margin: 0 0 20px 0;
}

a {
    color: #b99ddb;
}

a:hover {
    color: #4a3567;
}

/* 800px-nél nagyobb képernyő*/
@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    #main {
        display: flex;
        flex-direction: row-reverse;
    }

    #aside img {
        max-width: 300px;
    }

    #nav,
    #header {
        order: -1;
    }

    #eletrajz {
        flex-basis: 100%;
    }

    #aside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 1, 1, 25%;
    }

    #article {
        display: flex;
    }
    
    #article .section {
        flex: 1 1 50%;
    }
}
